.section01 {
  .divBox {
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      width: 384px;

      h2 {
        line-height: 39px;
        font-weight: 700;
        color: #4d4d4d;
      }

      p {
        font-weight: 500;
        line-height: 22px;
        color: #666666;
      }

      a {
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        color: #4b9fe1;
        text-decoration: none;
      }
    }
  }
}

.section02 {
  .divBox {
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      width: 300px;

      h2 {
        line-height: 39px;
        font-weight: 700;
        color: #4d4d4d;
      }

      p {
        font-weight: 500;
        line-height: 20px;
        color: #666666;
      }
    }
  }
}

.section03 {
  display: grid;
  text-align: center;
  justify-content: center;

  h2 {
    font-weight: 700;
    line-height: 59px;
    text-align: center;
    color: #333333;
  }

  .divBox {
    background: #f5f5f5;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .divSon {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .text {
        width: 200px;

        h3 {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #333333;
          padding: 0 30px;
        }

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: #666666;
        }
      }
    }

    a {
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      color: #4b9fe1;
      text-decoration: none;
      font-size: 16px;
    }
  }
}

.section04 {
  margin-top: 50px;
  background: #4b9fe1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 440px;

  .divBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .text {
      width: 300px;

      h2 {
        font-weight: 700;
        line-height: 39px;
        color: #ffffff;
      }

      p {
        font-weight: 500;
        line-height: 20px;
        color: #f5f5f5;
      }

      a {
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.section05 {
  margin-top: 50px;
  background: #f5f5f5;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-weight: 700;
    line-height: 59px;
    text-align: center;
    color: #333333;
  }

  .divBox {
    display: flex;
    justify-content: space-between;
  }
}

.section06 {
  position: relative;
  top: 950px;
  .divBox {
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      width: 384px;

      h2 {
        line-height: 39px;
        font-weight: 700;
        color: #4d4d4d;
      }

      p {
        font-weight: 500;
        line-height: 22px;
        color: #666666;
      }

      a {
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        color: #4b9fe1;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section01 {
    .divBox {
      display: grid;

      .text,
      .img {
        width: auto;
        text-align: center;
      }

      .img {
        margin-top: 25px;

        .notebookHome {
          width: 90%;
        }
      }
    }
  }

  .section02 {
    margin-top: 30px;

    .divBox {
      display: grid;

      .text,
      .img {
        width: auto;
        text-align: center;
      }

      .img {
        margin-top: 25px;

        .meetingHome {
          width: 90%;
        }
      }
    }
  }

  .section03 {
    display: grid;
    text-align: center;
    justify-content: center;

    h2 {
      font-size: 26px;
    }

    .divBox {
      background: #f5f5f5;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80vw;

      .divSon {
        display: grid;
        padding: 20px 0;

        .text {
          margin-top: 20px;
        }
      }

      a {
        margin-bottom: 20px;
      }
    }
  }

  .section04 {
    .divBox {
      display: grid;
      justify-content: space-between;

      .text {
        width: auto;
        padding: 0 10px;
        text-align: center;
      }

      .img {
        margin-top: 25px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .section05 {
    margin-top: 490px;

    .divBox {
      display: grid;
      justify-content: center;
    }
  }

  .section06 {
    .divBox {
      display: grid;

      .text,
      .img {
        width: auto;
        text-align: center;
      }

      .img {
        margin-top: 25px;

        .cellphone {
          width: 90%;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .section01 {
    .divBox {
      .img {
        .notebookHome {
          width: 450px;
        }
      }
    }
  }

  .section02 {
    .divBox {
      .img {
        width: 55%;
        .meetingHome {
          width: 95%;
        }
      }
    }
  }

  .section03 {
    display: grid;
    text-align: center;
    justify-content: center;

    h2 {
      font-size: 35px;
    }

    .divBox {
      width: 90vw;
      height: 280px;

      .text {
        width: 200px;
      }
    }
  }

  .section04 {
    height: 40%;

    .divBox {
      .divSon {
        display: flex;
        justify-content: space-around;
        width: 90%;
      }

      .text {
        margin-left: 10%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .img {
        display: flex;
        justify-content: flex-end;
        width: 60%;
        height: 100%;

        img {
          width: 96%;
          height: 100%;
        }
      }
    }
  }

  .section05 {
    margin-top: 340px;

    .divBox {
      display: flex;
      justify-content: center;

      .divSon {
        display: flex;
        justify-content: space-around;
        width: 90%;
        .text {
          img {
            width: 80%;
          }
        }
      }
    }
  }

  .section06 {
    top: 530px;

    .divBox {
      .img {
        .cellphone {
          width: 450px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .section01 {
    .divBox {
      .text {
        width: 310px;

        h2 {
          font-size: 32px;
        }

        p {
          font-size: 18px;
        }

        a {
          font-size: 18px;
        }
      }

      .img {
        .notebookHome {
          width: 592px;
        }
      }
    }
  }

  .section02 {
    .divBox {
      .text {
        width: 310px;

        h2 {
          font-size: 32px;
        }

        p {
          font-size: 18px;
        }
      }

      .img {
        .notebookHome {
          width: 592px;
        }
      }
    }
  }

  .section03 {
    display: grid;
    text-align: center;
    justify-content: center;

    h2 {
      font-size: 48px;
    }

    .divBox {
      width: 85vw;
      height: 308px;

      .text {
        width: 200px;
      }
    }
  }

  .section04 {
    margin-top: 50px;
    background: #4b9fe1;
    position: absolute;
    left: 0;
    height: auto;

    .divBox {
      display: flex;

      .text {
        width: 260px;

        h2 {
          font-size: 32px;
          padding-right: 50px;
          margin-bottom: 0;
        }

        p {
          font-size: 16px;
        }

        a {
          font-size: 18px;
        }
      }
    }
  }

  .section05 {
    margin-top: 39%;
  }

  .section06 {
    top: 600px;

    .divBox {
      .text {
        width: 310px;

        h2 {
          font-size: 32px;
        }

        p {
          font-size: 18px;
        }

        a {
          font-size: 18px;
        }
      }

      .img {
        .cellphone {
          width: 592px;
        }
      }
    }
  }
}

@media screen and (min-width: 1124px) {
.section06 {
  top: 700px;
}
}

@media screen and (min-width: 1230px) {
  .section06 {
    top: 715px;
  }
  }

@media screen and (min-width: 1440px) {
  .section01 {
    .divBox {
      .text {
        width: 310px;
      }
    }
  }

  .section02 {
    .divBox {
      display: flex;
      align-items: center;
      justify-content: center;

      .text {
        width: 333px;
      }
    }
  }

  .section03 {
    display: grid;
    text-align: center;
    justify-content: center;

    .divBox {
      width: 1216px;
      height: 308px;

      .text {
        width: 200px;
      }
    }
  }

  .section04 {
    height: 502px;

    .divBox {
      .text {
        margin-left: 15%;
      }
    }
  }

  .section05 {
    margin-top: 552px;
    background: #f5f5f5;
    position: absolute;
    left: 0;
    width: 100%;
    height: 250px;

    h2 {
      font-size: 32px;
    }

    .divBox {
      .divSon {
        .text {
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .section06 {
    top: 815px;
    .divBox {
      .text {
        width: 310px;
      }
    }
  }
}
