.section06 {
  .divBox {
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      width: 384px;

      .imgsIcons {
        margin-top: 20px;

        img {
          width: 156px;
        }
      }

      h2 {
        line-height: 39px;
        font-weight: 700;
        color: #4d4d4d;
      }

      p {
        font-weight: 500;
        line-height: 22px;
        color: #666666;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section06 {
    .divBox {
      display: grid;

      .text,
      .img {
        width: auto;
        text-align: center;

        .imgsIcons {
          display: grid;
          justify-content: center;
        }
      }

      .img {
        margin-top: 25px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .section06 {
    .divBox {
      .text {
        .imgsIcons {
          display: flex;
          justify-content: space-between;
        }
      }

      .img {
        .cellphone {
          width: 450px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .section06 {
    .divBox {
      .text {
        width: 310px;

        h2 {
          font-size: 32px;
        }

        p {
          font-size: 18px;
        }
      }

      .img {
        .cellphone {
          width: 592px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .section06 {
    .divBox {
      .text {
        width: 384px;
      }
    }
  }
}
