.modalSubCategories {
  display: grid;
  justify-content: center;
  gap: 15px;

  .ghostBtn {
    border: 1px solid #4b9fe1;
    color: #4b9fe1;
    font-weight: 700;
    font-size: 18px;
    padding: 16px 32px;
    border-radius: 50px;

    &.selected {
      background-color: #4b9fe1;
      border-color: #4b9fe1;
      color: #fff;
    }

    &:hover {
      background-color: #4b9fe1;
      border-color: #4b9fe1;
      color: #fff;
    }
  }
}
