.chakra-menu__menu-button {
  background: unset;
  border: unset;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 43px;
  margin-left: -5px;
  color: #4b9fe1;
  font-weight: 700;
}
